extends base

block content 
    h1=pageTitle
    if errorMessage 
        span=errorMessage 
    form(method="POST")
        input(placeholder="username", name="username", type="text", required, class="submit_input")
        input(placeholder="password", name="password", type="password", required, class="submit_input")
        input(type="submit", value="Login", class="input_btn")
        include partials/social-login
    div.under_hr 
        span Don't have an account?  
        a(href="/join") Create now one &rarr;