extends base
include mixins/video.pug

block content 
    div.profile_date
        img(src="/" + user.avatarUrl).avatar
        h3=user.name
    div.home_video
        each video in user.videos 
            +video(video)
        else 
            span.empty_message Nothing found