extends base
include mixins/video

block content
    h1=pageTitle
    form(method="GET").search_form
        input(placeholder="Search by title", type="text", name="keyword")
        button 
            i.fas.fa-search

    div.home_video
        each video in videos 
            +video(video) 
        else
            span.empty_message Nothing found