extends base.pug

block content
    h1=pageTitle
    video#preview
    button#startBtn Start Recording
    if errorMessage 
        span=errorMessage
    form(method="POST", enctype="multipart/form-data", class="submit_input").edit-profile_form
        label(for="video") Video 
        input(type="file", required, accept="video/*", id="video", name="video", class="submit_input") 
        input(placeholder="Title", required, type="text", name="title", maxlength=80, class="submit_input")
        input(placeholder="Descripton", required, type="text", name="description", minlength=20, class="submit_input")
        input(placeholder="Hashtags, separated by comma.", required, type="text", name="hashtags", class="submit_input")
        input(type="submit", value="Upload Video", class="input_btn")
    block scripts 
        script(src="/static/js/recorder.js")